.footer {

  background-color: $grey-900;
  text-align: center;

  a {
    @extend %mui-text-dark-white;
  }

  p {
    margin: 0 auto;
    padding: 0;
    @extend %mui-text-light-white;
    max-width: 335px;
  }

  .mui-icon-button {
    color: $dark-white;
  }
}