/* material-ui */
@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,500");

@import "../material-ui/main";
@import "../material-ui/html";

/* custom font icons */
@import "font-icons/style.css";

/* hightlight.js for syntax highlighting */
//@import "monokai_sublime";
@import "github";

@import "color-palette";
@import "component-info";
@import "footer";
@import "layout/full-width-section";

@import "pages/get-started-page";
@import "pages/home-contribute";
@import "pages/home-features";
@import "pages/home-page-hero";
@import "pages/home-purpose";
@import "pages/page-with-nav";

@import "pages/components/component-doc";
@import "pages/components/buttons";
@import "pages/components/switches";
@import "pages/components/text-fields";
@import "pages/components/icon";
@import "pages/components/paper";

a {
  color: $accent-1-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* App Specific Styles */
.mui-app-canvas {

  height: 100%;

  .mui-app-bar {
    .github-icon-button {
      float: right;
      margin-right: -16px;
    }
  }
}

.logo {
  cursor: pointer;
  @extend %mui-font-style-headline;
  @extend %mui-text-full-white;
  line-height: $app-bar-height;
  @extend %mui-font-weight-light;
  background-color: $primary-1-color;
  padding-left: $desktop-gutter;
  padding-top: 0;
  margin-bottom: $desktop-gutter-mini;
}

.baseline-grid {
  background-image: url('images/baseline-20px-grid.gif');
}

.code-example {
  background-color: $white;
  margin-bottom: 32px;

  .example-label {
    @extend %mui-font-style-menu;
    display: inline-block;
    text-transform: uppercase;
    color: $min-black;
    padding: $desktop-gutter-mini;
    border-right: solid 1px $border-color;
    border-bottom: solid 1px $border-color;
    margin-bottom: 0;
    // TOCHECK: .lh-border-radius(0 0 2px 0);
    border-radius: 0 0 2px 0;
  }

  .example-block,
  .code-block {
    padding: $desktop-gutter;
  }

  .code-block {
    border-top: solid 1px $border-color;
    // TOCHECK: .lh-border-radius(0 0 2px 2px);
    border-radius: 0 0 2px 0;
  }
}

.example-menu {
  width: (64px * 4);
}

.example-menu-nested {
  width: (64px * 3);
}
